In [25]:
import pandas as pd
import random
import numpy as np
from ast import literal_eval

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer

from sklearn.svm import SVC

In [2]:
df = pd.read_table('data_with_matches.csv', sep=',', converters={"languages": literal_eval, "matches": literal_eval})
mlb = MultiLabelBinarizer()

# Spread languages into columns with binary values
df_langs_separate = pd.DataFrame(mlb.fit_transform(df['languages']),columns=mlb.classes_, index=df.index)
for lang_col in df_langs_separate:
    df[lang_col] = df_langs_separate[lang_col]
# save it to pass right columns to split
lang_classes = mlb.classes_

# mlb2 = MultiLabelBinarizer()
# df_interests_separate = pd.DataFrame(mlb.fit_transform(df['interests']),columns=mlb2.classes_, index=df.index)
# for lang_col in df_langs_separate:
#     df[lang_col] = df_langs_separate[lang_col]
# # save it to pass right columns to split
# interests_classes = mlb2.classes_



# missing 'help_type', 'interests'
# need to change those + matches into some integers

X = df[['age', 'intent', *lang_classes]]
y = pd.DataFrame(MultiLabelBinarizer().fit_transform(df['matches']))

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [23]:
model = LinearRegression()
model.fit(X_train, y_train)
# model.coef_
# model.score(X_test, y_test)

# expect [1, 61, 83, 87, 94] or something similar since it's the data from row 0
prediction = model.predict([[25, 1, 1, 1, 0, 0]])
scores = list(enumerate(prediction[0]))
sorted_scores = sorted(scores, key = lambda x:x[1], reverse = True)

sorted_scores[0:10]

[(57, 0.3685699757426764),
 (79, 0.3685699757426764),
 (1, 0.29298837992628557),
 (83, 0.29298837992628557),
 (90, 0.29298837992628557),
 (55, 0.21691725043052618),
 (24, 0.18147021639807406),
 (93, 0.18147021639807406),
 (91, 0.17808328286837427),
 (47, 0.17566718402690956)]

In [30]:
model = Ridge()
model.fit(X_train, y_train)
# model.coef_
# model.score(X_test, y_test)

# expect [1, 61, 83, 87, 94] or something similar since it's the data from row 0
prediction = model.predict([[25, 1, 1, 1, 0, 0]])
scores = list(enumerate(prediction[0]))
sorted_scores = sorted(scores, key = lambda x:x[1], reverse = True)

sorted_scores[0:10]

[(57, 0.36162064312441766),
 (79, 0.36162064312441766),
 (1, 0.28338127455902246),
 (83, 0.28338127455902246),
 (90, 0.28338127455902246),
 (55, 0.21822181827742065),
 (91, 0.1824643498670238),
 (24, 0.17769316792728154),
 (93, 0.17769316792728154),
 (52, 0.17651004185147626)]

In [21]:
df.loc[[0,57]]

,id,age,interests,languages,intent,help_type,matches,english,german,russian,ukrainian
0,0,25,games,"[german, english]",1,market place,"[1, 61, 83, 87, 94]",1,1,0,0
57,57,31,literature,"[russian, ukrainian]",0,things to do,"[73, 82]",0,0,1,1

In [32]:
print(X_train)
print(y_train)

96
    age  intent  english  german  russian  ukrainian
48   69       1        1       0        0          0
6    80       1        1       1        0          1
99   97       1        0       1        1          0
82   81       1        1       0        1          1
76   98       1        0       1        1          0
..  ...     ...      ...     ...      ...        ...
96   74       0        1       0        1          1
67   61       0        0       1        0          1
64   72       1        0       1        1          0
47   88       0        1       0        0          0
44   29       1        1       0        0          0

[75 rows x 6 columns]
    0   1   2   3   4   5   6   7   8   9   ...  86  87  88  89  90  91  92  \
48   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   1   0
6    0   0   0   0   0   0   0   0   0   1  ...   0   0   0   1   0   0   0
99   0   0   0   0   0   0   0   0   0   0  ...   0   1   0   0   0   0   0
82   0   0   0   0   1   0   0   0   0   0  ...   0   0   0   0   0   0   0
76   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   1   0
..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
96   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
67   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
64   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   1   0
47   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
44   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   1

    93  94  95
48   0   0   0
6    0   0   0
99   0   0   0
82   0   0   0
76   0   0   0
..  ..  ..  ..
96   0   0   0
67   0   0   0
64   0   0   0
47   0   1   0
44   0   0   0

[75 rows x 96 columns]